.onboarding-container {
  width: 100%;
  height: 95vh - 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onboarding-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.onboarding-step img {
  width: 400px;
  height: auto;
}

.onboarding-heading {
  font-size: 24px;
  font-weight: bold;

  color: #333;
}

.onboarding-text {
  font-size: 16px;
  color: #555;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form input {
  width: 300px;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.onboarding-navigation {
  display: flex;
  justify-content: center;
}

.onboarding-nav-button {
  background-color: #d4af37;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.onboarding-nav-button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.login-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #555;
}

.error {
  border: 1px solid red;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  50% {
    margin-left: 0rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin: 8px;
}
