.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #2a78e1;
  margin-bottom: 1rem;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border: 1px solid #2a78e1;
  border-radius: 5px;
  outline: none;
  width: 300px;
  margin-bottom: 1rem;
}

input[type="text"]:focus {
  border: 1px solid #1c58b1;
  box-shadow: 0 0 5px rgba(44, 120, 225, 0.2);
}

.start-page button {
  background-color: #2a78e1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.start-page button:hover {
  background-color: #1f5cb0;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

select {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border: 1px solid #2a78e1;
  border-radius: 5px;
  outline: none;
  width: 300px;
  margin-bottom: 1rem;
  text-align: center;
}

select:focus {
  border: 1px solid #1c58b1;
  box-shadow: 0 0 5px rgba(44, 120, 225, 0.2);
}
